.form-register {
  background: rgb(220, 240, 255);
  height: 100vh;
  width: 100%;
}
.form-register .gotoHome {
  position: absolute;
  top: 3%;
  left: 2%;
}
.form-register .gotoHome a {
  transition: 0.5s;
  text-decoration: none;
  color: dodgerblue;
  padding: 5px;
  font-size: 40px;
  border-radius: 100%;
}
.form-register .gotoHome a:hover {
  color: hsl(212deg, 98%, 32%);
}
.form-register .form-item {
  -webkit-animation: lefttoright 1.5s;
          animation: lefttoright 1.5s;
  position: absolute;
  background: white;
  text-align: center;
  top: 18%;
  bottom: 18%;
  right: 15%;
  left: 15%;
  border-radius: 20px 10px 10px 20px;
  box-shadow: 1px 2px 3px 0 black;
  transition: 1s;
}
.form-register .form-item .form-input {
  overflow-y: auto;
  position: absolute;
  left: 52%;
  right: 10%;
  top: 15%;
  bottom: 20%;
  transition: 1s;
}
.form-register .form-item .form-input::-webkit-scrollbar {
  background: white;
}
.form-register .form-item .form-input h1 {
  transition: 1s;
  font-family: "Montserrat";
  margin: 10px;
  font-size: 28px;
}
.form-register .form-item .form-input input {
  transition: 2s;
  color: rgb(84, 84, 84);
  border-radius: 6px;
  outline: none;
  border: 0;
  margin: 7px;
  width: 90%;
  font-size: 18px;
  padding: 8px 25px;
  background-color: rgb(197, 226, 255);
}
.form-register .form-item .form-input input:focus {
  background-color: rgb(132, 193, 255);
}
.form-register .form-item .form-input button {
  transition: 0.5s;
  background-color: dodgerblue;
  border-radius: 30px;
  font-size: 18px;
  width: 50%;
  margin-top: 15px;
  margin-left: 10px;
  border: 0;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.form-register .form-item .form-input button:hover {
  background-color: rgb(6, 98, 190);
}
.form-register .gotoSignUp {
  background-color: dodgerblue;
  text-align: center;
  top: 18%;
  bottom: 18%;
  left: 15%;
  width: 30%;
  position: absolute;
  border-radius: 10px 0 0 10px;
}
.form-register .gotoSignUp .container {
  transition: 1s;
  position: relative;
  top: 30%;
  bottom: 30%;
}
.form-register .gotoSignUp .container h1 {
  transition: 1s;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  margin: 4%;
}
.form-register .gotoSignUp .container a {
  font-weight: bold;
  transition: 1s;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 8px 18px;
  border-radius: 50px;
}
.form-register .gotoSignUp .container a:hover {
  box-shadow: 0 0 5px 0 black;
}

@media screen and (max-width: 1200px) {
  .form-register .form-item .form-input {
    left: 48%;
    right: 5%;
  }
  .form-register .form-item .form-input h1 {
    margin: 8px;
    font-size: 24px;
  }
  .form-register .form-item .form-input input {
    margin: 6px;
    width: 90%;
    font-size: 15px;
    padding: 10px 20px;
    background-color: rgb(197, 226, 255);
  }
}
@media screen and (max-width: 800px) {
  .form-register .gotoHome a {
    font-size: 30px;
    border-radius: 100%;
  }
  .form-register .gotoHome a:hover {
    font-size: 35px;
  }
  .form-register .form-item .form-input h1 {
    margin: 8px;
    font-size: 22px;
  }
  .form-register .form-item .form-input input {
    margin: 5px;
    width: 90%;
    font-size: 12px;
    padding: 7px 20px;
    background-color: rgb(197, 226, 255);
  }
  .form-register .form-item .form-input button {
    font-size: 16px;
    width: 45%;
  }
  .form-register .gotoSignUp .container {
    position: relative;
    top: 30%;
    bottom: 30%;
  }
  .form-register .gotoSignUp .container h1 {
    font-size: 15px;
  }
  .form-register .gotoSignUp .container a {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .form-register .form-item .form-input h1 {
    font-size: 13px;
  }
  .form-register .form-item .form-input input {
    margin: 5px;
    width: 80%;
    font-size: 10px;
    padding: 6px 12px;
    background-color: rgb(197, 226, 255);
  }
  .form-register .form-item .form-input button {
    font-size: 13px;
    width: 34%;
  }
  .form-register .gotoSignUp .container {
    position: relative;
    top: 30%;
    bottom: 30%;
  }
  .form-register .gotoSignUp .container h1 {
    font-size: 12px;
  }
  .form-register .gotoSignUp .container a {
    padding: 3px 10px;
    font-size: 8px;
  }
}
@media screen and (max-width: 440px) {
  .form-register .form-item .form-input input {
    font-size: 9px;
  }
  .form-register .form-item .form-input h1 {
    font-size: 12px;
  }
  .form-register .form-item .form-input button {
    font-size: 10px;
  }
}
@-webkit-keyframes lefttoright {
  to {
    margin: 0;
  }
  from {
    margin-right: 40%;
  }
}
@keyframes lefttoright {
  to {
    margin: 0;
  }
  from {
    margin-right: 40%;
  }
}/*# sourceMappingURL=Register.css.map */