$text-color:white;
$background-white:white;
$navbar-color:Dodgerblue;

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@mixin img {
    position:absolute;
    justify-self: start;
    left:13%;
    top:15px;
}
.App{
    background-color: dodgerblue;
    width:100%;
    transition: 2s;
    .navbar1{
        padding: 40px;
        .container{
            margin:0 8%;
        }
        .navbar-item{
            float:right;
            display:flex;
        }
        a{
            transition: 0.4s;
            font-family: "Montserrat";
            text-transform: uppercase;
            display:flex;
            text-decoration: none;
            color:$text-color;
            padding-left:20px;
            padding-right:20px;
            font-size:20px;
            margin-top:-17px;
            border-radius: 20px;
            font-weight: bold;
            &:hover{
                font-size:22px;
            }
        }
        .logo{
            z-index:100;
            width:100px;
            transition: 0.4s;
            @include img();
            &:hover{
                width:135px;
            }
        }
        .imglink{
            @include img();
        }
    }
    .navbar2{
        display: flex;
        form {
            padding:0 26%;
            .item-search {
                transition: 0.5s;
                margin:-4.5px auto;
                padding: 16px;
                position: absolute;
                width: 40%;
                height: 20px;
                font-size:18px;
                outline:none;
                border-radius: 10px;
                &:focus{
                    font-size: 21px;
                }
            }
            .btn-search {
                transition: 0.5s;
                position: absolute;
                font-size: 15px;
                float: right;
                right: 34.6%;
                background-color: dodgerblue;
                padding:6px 6px 3px 7px;
                border-radius: 100%;
                color:white;
                border:0;
                cursor: pointer;
                &:hover{
                    background-color: rgb(7, 106, 205);
                }
            }
        }
        .btn-cart {
            transition: 0.5s;
            color: white;
            position: relative;
            font-size: 38px;
            margin:-5px auto;
            padding: auto;
            right:-5%;
            &:hover{
                color:rgb(222, 222, 222);
            }
        }
    }
    .icon-res{
        display:none;
    }
    @media screen and (max-width:850px) {
        .navbar2{
            display: none;
            animation: ghost 1s linear;
            form {
                padding:0 20%;
                margin-bottom:40px;
                .item-search {
                    width: 60%;
                    font-size:12px;
                    &:focus{
                        font-size: 15px;
                    }
                }
                .btn-search {
                    font-size: 15px;
                    right: 21%;
                    padding:6px 6px 3px 7px;
                    &:hover{
                        background-color: rgb(7, 106, 205);
                    }
                }
            }
            .btn-cart {
                display:none;
            }
        }
        .icon-res{
            display:block;
            position: absolute;
            top:30px;
            right:4%;
            font-size:25px;
            a{
                color:white;
            }
            .icon-search{
                position: absolute;
                top:150%;
                left:-5px;
                font-size:20px;
                padding: 8px 10px 7px 10px;
                border-radius: 0 0 100% 100%;
                color:white;
                background-color: dodgerblue;
                cursor: pointer;
            }
        }
    }
        @media screen and (max-width:600px) {
            .navbar1{
                a{
                    padding:10px;
                    margin-top:-25px;
                }
                .logo{
                    left:-5px;
                    top:26px;
                }
            }
            .navbar2{
                form {
                    .item-search {
                        font-size:10px;
                        &:focus{
                            font-size: 12px;
                        }
                    } 
                }
                .btn-cart {
                    display:none;
                }
            }
        }
        @media screen and (max-width:480px) {
            .navbar1{
                display: flex;
                justify-content: end;
                padding: 15px;
                .navbar-item{
                    float:right;
                    margin-left:60px;
                }
                a{
                    margin: auto;
                    padding:5px;
                    font-size:13.5px;
                    &:hover{
                        font-size:14px;
                    }
                }
                .logo{
                    left:-25px;
                    top:-8px;
                    &:hover{
                        width:100px;
                    }
                }
            }
            .icon-res{
                .icon-search{
                    top:149%;
                    font-size:15px;
                    color:white;
                }
                top:17px;
                font-size:20px;
            }
        }
        @media screen and (max-width:350px) {
            .icon-res{
                font-size:18px;
            }
            .navbar1{
                a{
                    font-size:10px;
                    padding:5px;
                    &:hover{
                        font-size:10px;
                    }
                }
                .logo{
                    width:80px;
                    left:-25px;
                    top:-5px;
                    &:hover{
                        width:100px;
                    }
                }
            }
        }
        .active{
            display:flex;
        }
        @keyframes ghost {
            to{
                opacity: 100%;
            }
            from
            {
                opacity: 0;
            }
        }
}
